*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f4d03f;
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

.wrapp {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unique-title {
  margin-bottom: 40px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.form-search {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-unique {
  padding: 15px;

  width: 300px;
  max-width: 650px;
  height: 300px;
  outline: none;
  resize: none;
  overflow-y: auto;
  border: 2px solid #000000;
  border-radius: 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  background-color: #efdd94;

  @media screen and (min-width: 768px) {
    width: 650px;
  }
}

.submit-search-button {
  width: 100px;
  height: 50px;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.unique,
.result {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  display: inline;
}

.anim-wrapper {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 760px;
  }

  @media screen and (min-width: 1000px) {
    width: 900px;
  }
}

.words {
  color: #f4d03f;
  font-size: 0;
  line-height: 1.5;
}
.words span {
  font-size: 2rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}
@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}
.words span:nth-child(2) {
  animation-delay: 0.5s;
}
.words span:nth-child(3) {
  animation-delay: 1s;
}
.words span:nth-child(4) {
  animation-delay: 1.5s;
}
.words span:nth-child(5) {
  animation-delay: 2s;
}
.words span:nth-child(6) {
  animation-delay: 2.5s;
}
.words span:nth-child(7) {
  animation-delay: 3s;
}
.words span:nth-child(8) {
  animation-delay: 3.5s;
}
.words span:nth-child(9) {
  animation-delay: 4s;
}
.words span:nth-child(10) {
  animation-delay: 4.5s;
}
.words span:nth-child(11) {
  animation-delay: 5s;
}
.words span:nth-child(12) {
  animation-delay: 5.5s;
}
.words span:nth-child(13) {
  animation-delay: 6s;
}
